[Unit]
Description=Custom VPN and DC Routing Configuration (v2.8.9-Stable)
After=network.target

[Service]
Type=idle
RemainAfterExit=yes
ExecStartPre=/bin/bash /data/vpn-router/vpn-routing-control.sh clean
ExecStart=/bin/bash /data/vpn-router/vpn-routing-control.sh start
ExecStop=/bin/bash /data/vpn-router/vpn-routing-control.sh stop

[Install]
WantedBy=multi-user.target
